@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* utilities */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    border: 0;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 20px;
}

.btn--dark {
    background-color: black;
    color: azure;
}

.btn--dark:hover {
    background-color: rgb(54, 54, 54);
    color: azure;
}

.btn--active {
    background-color: brown;
}

.btn--active:hover {
    background-color: rgb(224, 37, 37);
}

/* header title */
.header {
    padding: 2rem 0;
}

.header__title {
    color: rgb(56, 58, 58);
    font-size: 2.5rem;
    font-weight: 300;
}

/* navbar menu*/
.navbar {
    background-color: rgb(238, 242, 245);
    padding: 1.5rem 0;
    font-size: 1.6rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.navbar__container__logo {
    display: flex;
    align-items: flex-end;
}

.navbar__container__logo  h1{
    padding: 0;
}

.navbar__container__logo img {
    width: 40px;
    margin-right: 0.5rem;
}

.bag {
    display: flex;
    position: relative;
    cursor: pointer;
}

.bag #bag-counter {
    background-color: rgb(54, 54, 52);
    width: auto;
    height: 10px;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(5px, 5px);
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.bag img {
    width: 30px;
}


/* splitter */
.splitter {
    display: flex;
    padding-top: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* main */
.main {
    width: 65%;
}

/* sidebar */
.sidebar {
    width: 35%;
    margin-left: 3rem;
}

/* main childs */
/* products */
.products {
    gap: 1.5rem;
}

/* card */
.card {
    border: 1px solid rgb(240, 238, 238);
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    border-radius: 15px;
    overflow: hidden;
}

.card__image {
    height: 180px;
    width: 100%;
    background-color: rgb(166, 167, 168);
}

.card__text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.card__text__product {
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 1rem; 
    color: rgb(61, 61, 61);
}

.card__text__footer{
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-between;
}

.card__text__footer__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__text__footer__input__price {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 0.5rem; 
    color: rgb(136, 135, 135);
}

.card__text__footer__input__price::before {
    content: "$ ";
}

/* botones para modificar cantidades -- posible implementacion */
.card__text__footer__input__buttons {
    display: flex;
    justify-content: space-between;
}

.input-text {
    outline: none;
    width: 40px;
    margin: 0 0.5rem;
    padding: 0.2rem;
    border: 1px solid lightgray;
}

.input-text:focus {
    border: 1px solid rgb(173, 170, 170);
}
.btn-counter {
    border: 0;
    border-radius: 100px;
    background-color: rgb(206, 201, 201);
    padding: 0.5rem;
    width: 25px;
    height: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.btn-counter:hover {
    background-color: rgb(196, 192, 192);
}
/* fin de posible implementacion */




/* sidebar childs */
/* cart client selcetor*/
.cart__client {
    padding-bottom: 2rem;
}

/* cart products */
.cart__products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.cart__products__item {
    padding-bottom: 1.5rem;
}

.cart__products__item h4{
    font-size: 1.4rem;
}

.cart__products__item p{
    font-size: 1.3rem;
}

.cart__products__item p::before{
    content: "$ "
}


.cart__bill {
    margin-top: 2rem;
}

.cart__bill p {
    color: rgb(95, 93, 93);
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}

.cart__bill p:first-of-type::before {
    content: "Subtotal: $ ";
}

.cart__bill p:nth-of-type(2)::before {
    content: "Impuestos: $ ";
}

.cart__bill p:nth-of-type(3)::before {
    content: "Total: $ ";
}

.cart__label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    display: block;
    padding-bottom: 1rem;
    color: rgb(146, 144, 144);
}

/* calendar */
.cart__calendar {
    padding: 2rem 0;
}


#calendar {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}


/* responsive design */
@media screen and (max-width: 1024px){
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px){
    .splitter {
        flex-direction: column;
    }


    .main {
        width: 100%;
    }

    .sidebar {
        width: 100%;
        margin-left: 0rem;
    } 
}

@media screen and (max-width: 425px){
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 375px){
    .products {
        grid-template-columns: repeat(1, 1fr);
    }
}