<section class="block">
    <div class="container">
        <h2 class="about__heading">About me</h2>
        <article class="about-block">
            <div class="about__icon">
                <img src="images/code.svg" alt="#">
            </div>
            <div class="about__text">
                <p>I learned how to code in 2014 using C++, months later I jump into HTML and CSS. My passion for coding and web design had just started.</p>
            </div>
        </article>

        <article class="about-block">
            <div class="about__icon">
                <img src="images/universidad.svg" alt="#">
            </div>
            <div class="about__text">
                <p>In 2016 I got accepted into UNAM. In this university I learned responsibility, perseverance and leadership to manage projects and tasks.</p>
            </div>
        </article>

        <article class="about-block">
            <div class="about__icon">
                <img src="images/software.svg" alt="#">
            </div>
            <div class="about__text">
                <p>When the covid-19 pandemic arrived, I focused 100% in Python programming. So I participated in the creation of educational software helpful to simulate Petroleum Engineering processes. View more...</p>
            </div>
        </article>

        <article class="about-block">
            <div class="about__icon">
                <img src="images/grow.svg" alt="#">
            </div>
            <div class="about__text">
                <p>Nowdays, as a Petroleum Engineer and web developer I have a bunch of things to learn, but with passion and persevernace everything is posible.</p>
            </div>
        </article>
    </div>
</section>