<section>
    <header class="hero grid grid--1x2">
        <div class="block__start">
            <h1 class="hero__heading">Let's build amazing websites</h1>
            <p class="hero__text">Hello! I'm Eduardo, Front-End developer and python engineer. I focus on design, performance and excelent user experice.</p>
            <button class="btn btn--primary" href="#">Contact</button>
        </div>

        <div class="block__end">
            <img src="hero.png" alt="">
        </div>
    </header>
</section>