<section class="block hero">
    <header class="container grid grid--1x2">
        <div class="block__start">
            <h1 class="hero__heading">Let's build amazing websites</h1>
            <p class="hero__text">Hello! I'm Eduardo, Front-End developer. I focus on design, performance and create an excelent user experice.</p>
            <button class="btn btn--primary" href="#">Contact</button>
        </div>
        <div class="block__end">
            <img class="block__image" src="images/hero.png" alt="">
        </div>
    </header>
</section>